@media(max-width:1200px){

}

@media(max-width:992px){

.navbar{
 position: unset;
}    
.header-section{
  position: relative;
}
 .navbar-collapse {
        position: absolute;
        top: 100%;
        right: 100%;
        z-index: 999;
        width: 100%;
        transition: all 0.3s ease;
        display: block;
        background-color: #000;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        margin-right: 50%;
        transition: all 0.3s ease;
        display: block;
    }
    .navbar-collapse.show {
        right: 0;
    }
.navbar-wrapper ul{
display: block;
}
.navbar-wrapper ul li{
	border-bottom: 1px solid #535353;
	padding: 10px 15px;
	margin-right: 0;
}
.navbar-wrapper ul li a{
	color: #f7f7f7;
}
.navbar-wrapper ul li:last-child{
	border-bottom: 0;
}
.who-we-overlay{
	right: 10%;
}

/*---------detail-page----------------------------///////////////----------------*/










}
@media(max-width:767px){

}
@media(max-width:576px){
.header-logo  {
 max-width: 150px;
}
.sign-in a{
	padding: 6px 12px;
	  font-size: 13px;
}

.navbar-wrapper{
	padding: 0;
}
.who-we-overlay{
	position: unset !important;
}

}

